body {
	color: white;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	font-family: 'Lora', serif;
	font-size: 3em;
	text-shadow: 2px black;
}
